<div class="container">
  <%- include('./partials/messages') -%>
</div>

<% let deletableMatch = false %>
<% matches.forEach((match, index) => { %>
  <% if (user && user._id.equals(match.created_by) && index === 0) { %>
    <% deletableMatch = true %>
  <% } %>
<% }) %>

<div class="history">
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th class="history-heading__date heading" scope="col">Date</th>
        <th class="history-heading__map heading" scope="col">Map</th>
        <th class="history-heading__p1 heading" scope="col">Player 1</th>
        <th class="history-heading__score heading" scope="col">Score</th>
        <th class="history-heading__p2 heading" scope="col"<%- deletableMatch ? ' style="width: 35%;"' : '' %>>Player 2</th>
      </tr>
    </thead>

    <tbody>
      <% matches.forEach((match, index) => { %>
        <tr>
          <!-- DATE -->
          <td class="history__col">
            <span class="mobile-hide"><%= match.formattedDate %></span>
            <span class="desktop-hide"><%= match.shortDate %></span>
          </td>
          <!-- MAP -->
          <td class="history__col">
            <%= match.csmap %>
          </td>
          <!-- P1 -->
          <td class="history__col">
            <%= match.p1.id.name %>
          </td>
          <!-- SCORE -->
          <td class="history__col"><%= match.p1.score %> : <%= match.p2.score %></td>
          <!-- P2 -->
          <td class="history__col<%= deletableMatch ? ' history__col--deletable' : '' %>">
            <span><%= match.p2.id.name %></span>

            <% if (user && user._id.equals(match.created_by) && index === 0) { %>
              <button class="remove-match"  data-toggle="modal" data-target="#deleteModal">
                <i class="fas fa-times"></i>
              </button>

              <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this match?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-footer">
                      <a class="btn btn-danger" href="/matches/delete/<%= match._id %>">Yes</a>
                      <button class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>